
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


  .aboutsec{
      background-image: linear-gradient(to right, #EDEDED, #7b7979, #444444);
      height: 55vh; 
      width: 78vw;  
      margin-left: 22.5vh;
  }

  .details{ 
    margin: auto;
    width: 40vw;
  }

  .aboutMe{ 
    margin: auto;
    font-family: 'Lato';   
  }    
  
  @media screen and (max-width: 767px) {
    .aboutsec{
      margin-left: 0;
      width: 100vw;
      height: 50vh;
      flex-direction: column;
    } 

    .aboutMe{
      margin-top: 15px; 
    }
    .details{
      width: 90vw;
      margin-bottom: 55px;
    }
  }

  @media screen and (min-width:768px) and (max-width: 1023px) {
    .aboutsec{
      width: 78vw;
      height: 55vh; 
      margin-left: 25vh;
    }
    .details{ 
      margin-right: 15px;
      width: 50vw;
    }
  }

  @media screen and (min-width: 1439px) {
    .aboutsec{  
      margin-left: 26vh;
    } 
  }