
@media screen and (min-width: 1281px) {
    .foot{
        margin-top: 44vh;
    }
}

@media screen and (max-width: 1280px) {
    .foot{
        margin-top: 32vh;
    }   
}

@media screen and (max-width: 650px){
    .foot{
        margin-top: 38vh;
    }
}

@media screen and (max-width: 450px){
    .foot{
        margin-top: 53vh;
    }
    .foot > .upper_footer > h1{
        font-size: 1px;
    }
}