
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
 


.workSection{
  background-image: linear-gradient(to right, #EDEDED, #7b7979, #444444);
  height: 60vh; 
  width: 80vw; 
  
}

.title {  
    font-family: 'Lato'; 
    font-weight: 400;
}

img{
  width: 40vw;
  height: 50vh;
}


.video-overlay {
  position: fixed; 
  top: 5vh;
  bottom: 5vh;
  right: 5vw;
  left: 5vw; 
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px; 
  color: #ededed62;
  font-size: 20px;
  padding: 5px 15px; 
  cursor: pointer;
}
.close-button:hover{
  color: #ededed;
}


  @media screen and (max-width: 900px) {
    .workSection{   
      margin-top: 25vh; 
      width: 80vw;
      height: 50vh;
    }      
}

  @media screen and (max-width: 700px) {
 
} 

@media screen and (max-width: 450px) {
  .workSection{   
    margin: auto;
    margin-top: 17vh; 
    width: 80vw;
    height: 45vh;
  } 
 
} 