
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

  .testTitle > p { 
    font-family: 'Lato';
    font-weight: 700; 
    position: relative;
    text-transform: uppercase;
}   
  .testTitle > p::before{ 
    content: 'TESTIMONIALS';
    position:absolute;
    background-color: #DA0037;
    top:0;
    left:0;
    width:0%; 
    overflow:hidden;
    transition:all 0.5s;
  }
 
  .testTitle > p:hover:before{
    width:100%;
  }

  .swiper {
    width: 80vw;
    height: 50vh;
  }

  .swiper-slide { 
    text-align: center;
    font-size: 2.3rem;
    background-image: linear-gradient(to top, #EDEDED, #7b7979, #3a3a3a);
    opacity: .9;
    color: #171717;
    border-radius: 1rem; 
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    .swiper {
      width: 90vw;
      height: 40vh;
    }
  }