
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

  .test > p { 
    font-family: 'Lato';
    font-weight: 700; 
    position: relative;
    text-transform: uppercase;
}   
  .test > p::before{ 
    content: 'TESTIMONIALS';
    position:absolute;
    background-color: #DA0037;
    top:0;
    left:0;
    width:0%; 
    overflow:hidden;
    transition:all 0.5s;
  }
 
  .test > p:hover:before{
    width:100%;
  }
 
 
  .swiper {
    width: 70vw;
    height: 55vh;
  }

  .swiper-slide {
    
    text-align: center;
    font-size: 2.3rem;
    background-image: linear-gradient(to top, #EDEDED, #7b7979, #3a3a3a);
    opacity: .9;
    color: #171717;
    border-radius: 1rem; 
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
    @media screen and (max-width: 900px) {
      .aboutSection{   
        margin-top: 25vh; 
        width: 80vw;
        height: 50vh;
      } 
  }

  @media screen and (max-width: 450px) {
    .aboutSection{   
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      margin-top: 17vh; 
      width: 80vw;
      height: 55vh;
    } 
  }