
  html,
  body {
    scroll-behavior: smooth; 
    @apply h-[100%];
  } 

  .filter_section{
    @apply space-x-5 mt-10 pl-12;
  }

  .filter_section > .filter_buttons{
    @apply px-5 border-b-[2px] border-[#ededed] text-[#ededed] text-[20px];
  }

  .filter_section > .filter_buttons:hover{
    color: #da0037;
  } 

  .video_Section{
    @apply relative mt-14 w-full flex flex-row flex-wrap justify-evenly;
  }

  .video_Section > .video_Card{
    @apply h-[43vh] mt-12 mb-12 transition-transform duration-[.4s] ease-in-out;
  }

  .video_Section > .video_Card > img{
    @apply w-[31vw] h-[43vh];
  }

  .video_Section > .video_Card > .video_Title{ 
    @apply relative bottom-[100%] h-[43vh] max-w-[31vw] pt-[15px] text-center bg-[#080808b7] text-[#ededed] text-[30px] break-all opacity-0 duration-[.6s] ease-in-out;
  }
  
  .video_Section > .video_Card:hover{
    @apply scale-90; 
    .video_Title {
        @apply opacity-100;
    }
  }

  .video_Section > .video_Card > .video_Title > .video_Description{
    @apply text-[20px] mt-5 p-2;
    word-wrap: break-word;
  }

  .video_Overlay {
    @apply fixed top-[5vh] bottom-[5vh] right-[5vw] left-[5vw] bg-[#000000d5] flex justify-center items-center z-50;
  }
 
  .close_Button {
    @apply absolute top-[10px] right-[10px] text-[#ededed62] text-[20px] px-[9px] py-[2px] cursor-pointer;
  }

  .close_Button:hover{
    color: #ededed;
  }

  .top {
    @apply sticky bottom-[30px] left-[87vw] p-[15px] text-[#232323] bg-[#ededed] font-semibold text-[1rem] rounded-[15px] opacity-60;
    --offset:50px;
    margin-top: calc(120vh + var(--offset)); 
    text-decoration: none;
  }

  .top:hover{
    opacity: 1;
  }



  @media screen and (max-width: 720px) {
    .heading{
      @apply mt-6 text-5xl text-[#4e4d4d] bg-[#ededed];
    }
 
    .video_Section > .video_Card{
      @apply  h-[38vh] mt-0;
    }

    .video_Section > .video_Card > img{
      @apply w-full h-[38vh];
    }  
    .video_Section > .video_Card > .video_Title{
      @apply max-w-full h-[38vh] text-[20px];
    }  

    .video_Section > .video_Card > .video_Title > .video_Description{
      @apply w-[80vw] text-[17px] mt-5;
    }
  
    .video_Overlay { 
      top: 10vh;
      bottom: 10vh;
      left: 10vh;
      right: 10vh;
    }
    .filter_section > .filter_buttons{
      @apply text-[15px];
    }

    .close_Button { 
      background-color: #f9f9f962;
      color: #000;

    }
  
    .close_Button:hover { 
      background-color: #9e919162;
      color: #ff0000;
    }
  
  }