
  .contact_Part{
    @apply relative text-center mt-[17vh];
  }

  a > .hire_Me {
    @apply font-semibold uppercase text-[#ededed] mobile:text-[3rem] tablet:text-[5rem] laptop:text-[8rem];
  }

  a > .hire_Me::before{ 
    content: 'HIRE\00a0ME\00a0➜';
    position:absolute;
    background-color: #DA0037;  
    width:0%; 
    overflow:hidden;
    transition:all 0.5s;
  }

  a > .hire_Me:hover:before{
    width:54vw;
  }
