
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


  .contactPart{
    @apply relative flex flex-row justify-evenly mt-[17vw];
  }

  a > p {
      font-weight: 700;  
      text-transform: uppercase;
      margin: auto;
  }   
  a > p::before{ 
    content: 'HIRE\00a0ME\00a0➜';
    position:absolute;
    background-color: #DA0037;  
    width:0%; 
    overflow:hidden;
    transition:all 0.5s;
  }
 
  a > p:hover:before{
    width:55vw;
  }
